body {
  width: 320px;
  margin: 0 auto;
  
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #444444;
  font-style: normal;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #000000;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;  
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-title{
  text-align: center;
  padding: 75px 30px;
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}
.btn{
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 256px;
  line-height: 48px;
  border: 2px solid #000;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
}
.wrapper{
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
}
.wraper{
  margin: 0 30px;
}
.popup{
  display: none;
  position: absolute;
  z-index: 10;
}


