/* about.less */
.about {
  margin-top: 35px;
}
.about__title{
  margin-bottom: 50px;
}
.about__list{
}
.about__item {
  width: 260px;
  margin-bottom: 35px;
  padding-top: 55px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
}
.about__item--eco {
  background-image: url(../img/icon-feature-1.svg);
}
.about__item--price {
  background-image: url(../img/icon-feature-3.svg);
}
.about__item--like {
  background-image: url(../img/icon-feature-5.svg);
}
.about__item--hand {
  background-image: url(../img/icon-feature-2.svg);
}
.about__item--cheer {
  background-image: url(../img/icon-feature-4.svg);
}
.about__item--box {
  background-image: url(../img/icon-feature-6.svg);
}
@media(min-width:768px){
  .about__list{
    column-count: 2;
  }
}

.about__wraper {
  width: 260px;
  margin: 0 auto;
}
@media(min-width:768px){
  .about__wraper{
    width: 668px;
  }  
}
@media(min-width:1150px){
  .about__wraper{
    width: 700px;
  }
}