/* about.less */
.about {
  margin-top: 35px;
}
.about__title{
  margin-bottom: 30px;
}
.about__list{
}
.about__item {
  width: 210px;
  margin-bottom: 30px;
  padding-top: 0px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
}
.about__item svg{
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  fill: #63d1bb;
}
.about__item--eco{
  width: 190px;
}
.about__item--eco svg{
  width: 50px;
}
.about__item--price svg{
  width: 50px;
  height: 30px;
  margin-bottom: 25px;
}
.about__item--like{
  width: 200px;
}
.about__item--like svg{
  margin-bottom: 20px;
  margin-left: 5px;
  height: 30px;
}
.about__item--hand {
}
.about__item--cheer{
  width: 260px;
}
.about__item--cheer svg{
  width: 55px;
  height: 25px;
  margin-left: -5px;
  margin-bottom: 28px;
}
.about__item--box {
}
.about__item--box svg{
  height: 33px;
  margin-bottom: 20px;
}
@media(min-width:768px){
  .about{
    margin-top: 55px;
    margin-left: -8px;
    margin-bottom: 30px;
  }  
  .about__list{
    column-count: 2;
    margin-top: 50px;
  }
  .about__item{
    font-size: 20px;
    line-height: 22px;
    width: 260px;
    margin-bottom: 56px;
    margin-left: 4px;
  }
  .about__item--eco{
    width: 220px;
  }  
  .about__item--like{
    margin-top: 60px;
    width: 240px;
  }
  .about__item--hand{
    margin-left: -4px;
  }
  .about__item--cheer{
    margin-left: -4px;
    width: 300px;
  }
  .about__item--box{
    margin-left: -4px;
    margin-top: 60px;
  }
}

.about__wraper {
  width: 260px;
  margin: 0 auto;
}
@media(min-width:768px){
  .about__wraper{
    width: 668px;
  }  
}
@media(min-width:1150px){
  .about__wraper{
    width: 700px;
  }
  .about__title{
    padding-top: 14px;
  }
  
  
  
}









