.catalog__item{
  position: relative;
  margin-top: 30px;
  border: 1px solid #ededed;
}

.catalog__item-name{
  padding-left: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}
.catalog__item-description{
  display: block;
  margin: 0 30px;
  border-bottom: 1px solid #ededed;
  font-size: 13px;
  line-height: 30px;
}

.catalog__item-price{
  display: inline-block;
  margin: 25px 0 30px 30px;
  font-size: 15px;
  font-weight: bold;
}

.catalog__item-btn{
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-image: url(/img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
