/* contacts.less */
.contacts{
  margin-top: 50px;
}
.contacts p{
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}
.contacts span{
  display: inline-block;
  vertical-align: text-top;
  width: 180px;
}
.contacts__mail, .contacts__address{
  display: inline-block;
}
.contacts__mail a{
  text-decoration: underline;
}
.contacts__map{
  width: 100%;
  height: 455px;
  margin-top: 30px;
}
.contacts__map iframe{
  position: absolute;
  width: 100%;
  height: 455px;
  left: 0;
  right: 0;
}
@media(min-width:768px){
  .contacts__mail{
    mrgin-right: 50px;
  }
  .contacts_btn{
    margin: 50px auto;
  }
}
@media(min-width:1150px){
  .contacts{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 180px;
    height: 560px;
  }
  .contacts__map{
    width: 525px;
    order: 5;
    align-self: flex-end;
  }
  .contacts__map iframe{
    position: static;
  }
  .contacts_btn{
    order: 3;
    margin-left: 0;
  }
}

.contacts__wraper {
  width: 260px;
  margin: 0 auto;
}
@media(min-width:768px){
  .contacts__wraper{
    width: 668px;
  }  
}
@media(min-width:1150px){
  .contacts__wraper{
    width: 1050px;
  }
}

