/* page-header.less */
.page-header {
  position: relative;
}
.page-header__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
}
@media(min-width: 768px){
  .page-header__logo {
    justify-content: flex-start;
  }
}
@media(min-width:1150px){
  .page-header__logo {
    justify-content: center;
  }
}
