.page-header{
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
  border-bottom: 1px solid #ececec;
}
