/* promo.less */
.promo {
  padding-top: 28px;
  padding-bottom: 35px;
  position: relative;
}
.promo__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #63d1bb;
}
.promo__text{
  display: inline-block;
  vertical-align: baseline;
  width: 260px;
  margin-top: 22px;
}
.promo__info {
  border-collapse: collapse;
  width: 260px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.promo__info tr {
  border-bottom: 1px solid #ececec;
  line-height: 38px;
}
.promo__info td:first-child{
  width: 95px;
}
.promo__price {
  display: inline-block;
  vertical-align: baseline;
  width: 260px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

@media(min-width: 768px){
  .promo{
    margin-top: 20px;
  }  
.promo::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0px;
  height: 10px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 10px, #f1f1f1 10px, #f1f1f1 12px, transparent 1px);
}
.promo::before{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 10px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 30px 14px, transparent 10px, #f1f1f1 10px, #f1f1f1 12px, transparent 1px);
}
  .promo__title{
    margin-left: -3px;
  }
  .promo__name {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    position: absolute;
    right: 12px;
    top: 9px;
  }
  .promo__text{
    margin-top: 50px;
    width: 300px;
    font-size: 17px;
    line-height: 30px;
    max-height: 200px;
    overflow: hidden;
  }
  .promo__info {
    margin-top: 16px;
    margin-bottom: 35px;
  }
  .promo__pic{
    float: right;
    width: 335px;
    height: 400px;
    margin-top: -271px;
  }
  .promo__price{
    font-size: 20px;
  }
  .promo__btn{
    margin-top: 35px;
  }  
  .promo__price,
  .promo__btn{
    width: 290px;
  }
}
@media(min-width: 1150px){
  .promo{
    margin-top: 65px;    
  }
  .promo__title{
    margin-top: 30px;
    margin-left: -10px;
  }
  .promo__name{
    position: absolute;
    left: 30px;
  }
  .promo__text{
    margin-left: -6px;
  }
  .promo__info{
    margin-left: -6px;
    margin-top: 30px;
  }
  .promo__pic{
    width: 525px;
    height: 635px;
    margin-top: -455px;
  }
  .promo__price{
    margin-top: 70px;
  }
  .promo__btn{
    margin-left: -5px;
    margin-bottom: 50px;
  }
}
.promo__wraper {
  width: 260px;
  margin: 0 auto;
}
@media(min-width:768px){
  .promo__wraper{
    width: 668px;
    position: relative;
  }  
}
@media(min-width:1150px){
  .promo__wraper{
    padding-left: 180px;
    width: 870px;
  }
}



