.reviews{
  margin: 35px 30px;
}

.reviews__author{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.reviews__author-mail{
  text-decoration: underline;
  font-size: 17px;
  line-height: 30px;
}

.reviews__prev, .reviews__next{
  display: inline-block;
  width: 49%;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  font-size: ;
}
