.showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.showcase__page-title{
  padding-bottom: 135px;
  background-image: url(/img/hero-mobile@1x.jpg);
  background-repeat: repeat no-repeat;
  background-position: center top;
}

.showcase__list{
  width: 100%;
  margin-top: auto;
}

.showcase__item{
  height: 105px;
  padding-left: 30px;
  padding-right: 150px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.showcase__item--interior{
  background-color: #63d1bb;
  background-image: url(/img/icon-interior.svg);
  background-position: 87% center;
}

.showcase__item--toys{
  background-color: #56c3b2;
  background-image: url(/img/icon-toy.svg);
  background-position: 90% center;
}
