/* showcase.less */
.showcase{
  position: relative;
  min-width: 320px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: 575px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .showcase{
    background-image: url(../img/hero-mobile@2x.jpg);
    background-size: 575px auto;
  }
}
.showcase__page-title {
  background-color: transparent;
  margin: 0px auto;
  width: 250px;
  padding-top: 70px;
  padding-bottom: 120px;

  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  border-top: 1px solid #ececec;
}

.showcase__list {
  width: 100%;
  mrgin-top: auto;
  display: flex;
  flex-wrap: wrap;
}
.showcase__item {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;
  padding-left: 30px;
  background-repeat: no-repeat;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
.showcase__item span{
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}
.showcase__item--interior {
  background-color: #63d1bb;
  padding-top: 25px;
  padding-bottom: 15px;
}
.showcase__item--icon-interior{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 62px;
  float: right;
  margin-left: -60px;
  margin-right: 35px;
  fill: #3bb09d;
}
.showcase__item--interior:hover > .showcase__item--icon-interior{
  fill: #29a592;
}
.showcase__item--interior:active > .showcase__item--icon-interior{
  fill: #44c0aa;
}
.showcase__item--toys {
  background-color: #56c3b2;
  background-image: url(../img/icon-toy.svg);
  background-position: 90% center;  
}
.showcase__item--interior:hover{
  position: relative;
  padding-bottom: 40px;
  tp: -5px;
  background-color: #59d5bc;
  background-image: url(../img/icon-interior-hover.svg);
}
.showcase__item--toys:hover {
  position: relative;
  padding-bottom: 40px;
  top: -5px;
  background-color: #46c1ae;
  background-image: url(../img/icon-toy-hover.svg);
}
.showcase__item--interior:active,
.showcase__item--toys:active {
  color: rgba(255,255,255,0.3);
}

@media(min-width:768px){
  .showcase{
    margin-top: -80px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    background-position: center 5px;
  }
.showcase::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  right: 0px;
  height: 10px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 10px, white 1px);
}
.showcase::before{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 6px;
  right: 0px;
  height: 10px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 30px 14px, white 10px, transparent 1px);
}
  .showcase__page-title {
    padding-top: 155px;
    padding-bottom: 375px;
    width: 500px;
    
    position: relative;
    margin-top: -85px;
    font-size: 43px;
    line-height: 50px;
  }
  
  .showcase__list {
    margin: 0 auto;
    width: 668px;
  }
  .showcase__item span{
    line-height: 30px;
  }
.showcase__item--icon-interior{
  margin-left: -70px;
  margin-right: 45px;
  margin-bottom: -5px;
  margin-top: 5px;
  fill: #3bb09d;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .showcase{
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1150px auto;
  }
}
@media(min-width:1150px){
  .showcase__list {
    width: 1050px;
  }
  
  .showcase__page-title {
    width: 800px;
    padding-bottom: 360px;
    font-size: 53px;
    line-height: 57px;
  }
}



